.h1{
    color:red;
    text-align: center;
}

.container{
    display:flex;
    float: left;
}

.nav-item{
    transition:all 0.2s ease-in-out;
}

.nav-item:hover{
    color:red;
    transition: 0.3s ease-in-out;
}
.nav-link{
    transition:all 0.2s ease-in-out;
}
.nav-link:hover{
    border-bottom: 2px solid lightcoral;
    transition: 0.3s ease-in-out;
}

.btn{
    margin-right: 5px;
}

@media screen and (max-width:500px) {
    .container h2{
        display: block;
        width: 90%;
        margin: 2.5%;
        padding: 2.5%;
        color: darkblue;
}
}

@media screen and (min-width:501px) and (max-width:700px){
    .container h2{
        display: block;
        width: 90%;
        margin: 2.5%;
        padding: 2.5%;
        color: red;
}
}

